Options +FollowSymlinks
RewriteEngine on
RewriteCond %{REQUEST_URI} !\.[a-z]+$
RewriteRule ^([^/]+)$ hevonen.php?url=$1 [NC]
RewriteCond %{REQUEST_URI} !\.[a-z]+$
RewriteRule ^suku\/([^/]+)$ sukutaulu.php?id=$1 [NC]
