* {
    box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.layout {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 100px;
	text-align: justify;
}

.container {
	margin-bottom: 50px;
}

h1 {
	font-family: 'Laila', serif;
	font-size: 60px;
}

.virtuaalihevonen {
	font-size: 10px;
	color: #ddd;
	text-transform: uppercase;
}
.tietoboksi {
	width: 100%;
	display: flex;
	background-color: #fff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	overflow: hidden;
	padding: 25px;
	margin: 25px;
	border: 1px solid #CCC;
	flex-wrap: wrap;
}

.kuva {
	flex-grow: 1;
	text-align: center;
}

.kuva img{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 350px;
}

.perustietolaatikko {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: stretch;
	flex-grow: 10000;
}

.perustieto {
	border-bottom: 1px solid #ddd;
	line-height: 29px;
	display: flex;
	align-items: center;
	flex-grow: 1;
	margin-left: 25px;
}

.tieto {
	font-weight: bold;
	width: 150px;
	margin-left: 15px;
}

.vastaus{
}

.suku {
	width: 100%;
}
.suku tr {
	border-bottom: 1px solid #ddd;
}

