* {
    box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-image: url('whitediamond.png');
	color: #616161;
	line-height: 1.8;
}

.layout {
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: justify;
	padding: 25px;
	background-color: hsla(0, 0%, 99%, 0.5);
	box-shadow: 2px 2px 50px 50px #FCFCFC;
}


h1 {
	font-family: 'Laila', serif;
	font-size: 60px;
}

h2 {
	margin-top: 50px;
}

.meriitit {
	font-size: 20px;
}

.fa {
	color: #bbb;
	margin-right: 10px;
}

.virtuaalihevonen {
	font-size: 10px;
	color: #bbb;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 25px;
}

.tietoboksi {
	width: 100%;
	display: flex;
	background-color: #fff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	overflow: hidden;
	padding: 25px;
	border: 1px solid #ddd;
	flex-wrap: wrap;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 25px;
}

.kuva {
	flex-grow: 1;
	text-align: center;
}

.kuva img{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 325px;
}

.perustietolaatikko {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: stretch;
	flex-grow: 10000;
}

.perustieto {
	border-bottom: 1px solid #ddd;
	line-height: 29px;
	display: flex;
	align-items: center;
	flex-grow: 1;
	margin-left: 25px;
}

.perustieto:last-child{
	border-bottom: none;
}

.tieto {
	font-weight: bold;
	min-width: 150px;
}

.vastaus{
}

.kuvagalleria {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-around;
}

.galleriakuva img {
	max-height: 200px;
	padding: 5px;
	margin: 10px;
	border: 1px solid #ddd;
}

.copyteksti {
	text-align: center;
	font-size: 10px;
	color: #bbb;
	text-transform: uppercase;
}

.suku {
	width: 100%;
	margin-bottom: 25px;
}
.suku tr {
	border-bottom: 1px solid #ddd;
}

.suku td {
	padding: 5px;
}

.varsa {
	margin-top: 25px;
}

.sukuselvitys {
	margin-top: 25px;
}

.kisat {
	background-color: #fff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	overflow: hidden;
	padding: 25px;
	border: 1px solid #ddd;
	margin-top: 40px;
	margin-bottom: 25px;
}

.sijoitukset {
	max-height: 250px;
	overflow: auto;
}

.saavutukset{
	background-image: url('pokaalim.png');
	background-repeat: no-repeat;
	background-position: bottom right;
	min-height: 120px;
}

.listauskuva {
	height: 150px;
	width: auto;
}

/** Lighboxin määrittelyt **/

#lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }
#closeButton{ top: 5px; right: 5px; }

#lightbox img{ border: none; clear: both;} 
#overlay img{ border: none; }

#overlay{ background-image: url(overlay.png); }

* html #overlay{
	background-color: #333;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
	}