body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
/* Background pattern from subtlepatterns.com */
	background-image: url('/hukkapuro/whitediamond.png');
	color: #616161;
	font-size: 13px;
	line-height: 2.2;
}

.nav {
	font-size: 14px;
}

.nav li:hover{
	background-color: #eeeeee;
}

.layout {
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: justify;
	padding: 25px;
	background-color: hsla(0, 0%, 99%, 0.5);
	box-shadow: 2px 2px 50px 50px #FCFCFC;
}

h1 {
	font-family: 'Laila', serif;
	font-size: 57px;
	text-shadow:1px 1px 5px rgba(0,0,0,.3);
	margin-bottom: 40px;
}

h2 {
	margin-top: 40px;
	margin-bottom: 25px;
	text-align: left;
}

h3 {
	margin-bottom: 25px;
}

p{
	margin-bottom: 15px;
}

hr{
	margin-top: 50px;
	margin-bottom: 50px;
}
/** Etusivu **/

.etusivun-otsikko{
	font-size: 63px;
}

.etusivu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	width: 100%;
}

.etusivu a:hover{
	text-decoration: none;
}

.hevosetpanel {
	background-image: url('/hukkapuro/img/hevoset.jpg');
	background-size: cover;
	background-position: center;
	min-height: 400px;
	min-width: 200px;
}

.toimintapanel {
	background-image: url('/hukkapuro/img/kasvatus.jpg');
	background-size: cover;
	background-position: center;
	min-height: 400px;
	min-width: 200px;
}

.esittelypanel {
	background-image: url('/hukkapuro/img/esittely.jpg');
	background-size: cover;
	background-position: center;
	min-height: 400px;
	min-width: 200px;
}

.panel:hover .panel-footer {
	background-color: #eeeeee;
}

.panel-footer h4{
	font-weight: bold;
	text-align: center;
}

.allekirjoitus {
    font-family: 'Homemade Apple', cursive;
    font-size: 20px;
}

.etusivun-teksti {
	padding-right: 25px;
	margin-bottom: 50px;
	border-right: 1px solid #eee;
}

.sivupalkki {
	padding-left: 25px;
}

.aanesta {
	width: 100%;
	margin-top: 45px;
}

.ajankohtaista{
	line-height: 2.7;
	text-align: left;
}

.ajankohtaista h4{
	border-bottom: 1px dashed #ccc;
	padding-bottom: 10px;
}

/** Hevoslistaus **/


.hevoslistausnav {
	margin-top: 40px;
}


.hevoslistaus {
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
}
.heppalaatikko {
	min-width: 275px;
	margin: 10px;
	text-align: center;
	font-size: 13px;
}
.heppalaatikko h4{
	font-size: 16px;
}


.heppalaatikko .panel-body:hover {
	background-color: #eeeeee;
}

.heppalaatikko a:hover{
	text-decoration: none;
}

/** Toiminta **/

.img img{
	float: right;
	margin-left: 30px;
	margin-bottom: 10px;
	max-width: 250px;
	border: 1px solid #ddd;
}

.toiminta .btn{
	margin-top: 25px;
	margin-bottom: 25px;
}

.kasvattilista {
	margin-top: 25px;
}

.toiminta .list-group-item:hover{
	background-color: #eeeeee;
}

.toimintalista li{
	list-style-type: circle;
}
/** Esittely **/

.koristekuvat {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

.esittely img {
	width: 30%;
	margin: 10px;
	border: 1px solid #ddd;
}


/**Footer**/

.footer{
	font-size: 10px;
	color: #bbb;
	text-transform: uppercase;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: right;
}

/** Hevosen ulkoasu **/
.meriitit {
	font-size: 20px;
}

.fa {
	color: #bbb;
	margin-right: 10px;
}

.virtuaalihevonen {
	font-size: 10px;
	color: #bbb;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 25px;
}

.tietoboksi {
	width: 100%;
	display: flex;
	background-color: #fff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	overflow: hidden;
	padding: 25px;
	border: 1px solid #ddd;
	flex-wrap: wrap;
	margin: 0 auto;
	margin-bottom: 25px;
}

.kuva {
	flex-grow: 1;
	text-align: center;
}

.kuva img{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 325px;
}

.perustietolaatikko {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: stretch;
	flex-grow: 10000;
}

.perustieto {
	border-bottom: 1px solid #ddd;
	line-height: 29px;
	display: flex;
	align-items: center;
	flex-grow: 1;
	margin-left: 25px;
}

.perustieto:last-child{
	border-bottom: none;
}

.tieto {
	font-weight: bold;
	min-width: 150px;
}

.vastaus{
}

.kuvagalleria {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-around;
}

.galleriakuva img {
	max-height: 200px;
	padding: 5px;
	margin: 10px;
	border: 1px solid #ddd;
}

.copyteksti {
	text-align: center;
	font-size: 10px;
	color: #bbb;
	text-transform: uppercase;
}

.luonne {
	margin-bottom: 50px;
}

.suku {
	width: 100%;
	margin-bottom: 25px;
}
.suku tr {
	border-bottom: 1px solid #ddd;
}

.suku td {
	padding: 5px;
}

.varsa {
	margin-top: 25px;
}

.sukuselvitys {
	margin-top: 25px;
}

.kisat {
	background-color: #fff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	overflow: hidden;
	padding: 25px;
	border: 1px solid #ddd;
	margin-top: 40px;
	margin-bottom: 25px;
}

.sijoitukset {
	max-height: 250px;
	overflow: auto;
}

.saavutukset{
	margin-top: 25px;
	margin-bottom: 50px;
}

.saavutukset h4{
	margin-top: 25px;
}

.ominaisuuspisteet {
	vertical-align: middle;
	height: 100%;
}

/** Sukutaulun tyylittely */

/**
 * Kaikkia sukutauluun tiettyihin datoihin liittyviä tyylejä voi muokata.
 * Esimerkiksi "meriitit" avaimella olevia datoja voi muokata seuraavasti:

.VS_Sukutaulu__data-meriitit {
	color: pink;
}

 * Eli kaikki avaimet tulevat aina luokalla:
 *     .VS_Sukutaulu__data-<AVAIMEN_NIMI_TÄHÄN>
 */

.VS_Sukutaulu {
  border-top: 1px solid #333;
  border-left: 1px solid #333;
}
.VS_Sukutaulu__heppainfo {
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  padding: 5px;
  cursor: pointer;
}
.VS_Sukutaulu__heppainfo:hover {
	background-color: rgba(0, 100, 255, 0.25);
}
.VS_Sukutaulu__sukulainen {
  background-color: rgba(0, 100, 0, 0.15);
}
.VS_Sukutaulu__tyhja-sukulainen {
  background-color: rgba(128, 128, 128, 0.5);
}
.VS_Sukutaulu__tyhja-heppainfo {
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	padding: 5px;
}
.VS_Sukutaulu__heppa {
  text-align: center;
}
.VS_Sukutaulu__tyhja-heppa {
  text-align: center;
}

.VS_Jalkelainen__header {
	padding-top: 16px;
	margin-top: 16px;
	border-top: 1px solid #eee;
	font-size: 20px;
}


/** Lighboxin määrittelyt **/

#lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }
#closeButton{ top: 5px; right: 5px; }

#lightbox img{ border: none; clear: both;} 
#overlay img{ border: none; }

#overlay{ background-image: url(overlay.png); }

* html #overlay{
	background-color: #333;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/hukkapuro/overlay.png", sizingMethod="scale");
	}

	/*** Kutsu ***/
.kutsu img{
	margin-left: 50px;
	float: right;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	max-height: 250px;
	width: auto;
}

.palkinto img{
	height: 150px;
	width: auto;
	border: 0px;
}