:global(.VS_Sukutaulu__heppainfo) {}
:global(.VS_Sukutaulu__sukulainen) {}
:global(.VS_Sukutaulu__heppa) {}

.sukulainen {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.heppainfo {
  composes: global(VS_Sukutaulu__heppainfo);
  display: flex;
  flex-grow: 1;
  width: 0;
}
.sukuinfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.sukulainen {
  composes: global(VS_Sukutaulu__sukulainen);
}
.heppa {
  composes: global(VS_Sukutaulu__heppa);
  width: 100%;
}

